@import url(default.css);

h2{
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0)),url(../image/index_h2.png);
    background-position: center;
    color: white;
}

span.red-kyochou{
    color: #bf0d0d;
    font-weight: bold;
    font-size: 1.3rem;
}

#sf-wallpaper {
    width: 50%;
}

img {
    width: 50%;
}