@import url(../style/default.css);

h2{
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0)),url(../image/information_h2.jpg);
    background-position: center;
    color: white;
}

.our_pc{
    text-align: center;
    table-layout: fixed;
    width: 90%
}



